@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent-green
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent-green
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important

// ======= END TEMPLATE STYLES =======

.btn
  display: inline-block
  font-size: 16px
  line-height: 1
  padding: 20px 40px
  border-radius: 60px
  text-align: center
  +mt(.3s)
  position: relative
  border-width: 2px
  border-style: solid
  z-index: 1
  white-space: nowrap
  cursor: pointer
  overflow: hidden
  background-image: none
  user-select: none
  color: #fff

.btn-green
  background-color: $accent-green
  border-color: $accent-green
  &:before
    content: ''
    position: absolute
    top: -20px
    left: 50%
    transform: translate(-50%, -50%) scale(1)
    display: block
    width: 40px
    height: 40px
    background: #fff
    border-radius: 50px
    transition: 0.5s
    z-index: -1
  &:active, &:focus
    color: #fff
  &:hover
    cursor: pointer
    transition-delay: 0.1s
    color: $accent-green
    z-index: 8
    &:before
      transform: scale(8.3)
  &.btn-large
    &:hover
      &:before
        transform: scale(12.3)



.btn-grey
  background-color: #8f96a7
  border-color: #8f96a7
  color: #fff
  &:hover
    background-color: darken(#8f96a7, 7%)
    border-color: darken(#8f96a7, 7%)
    color: #fff
  &:active, &:focus
    background-color: darken(#8f96a7, 12%)
    border-color: darken(#8f96a7, 12%)
    color: #fff

section
  padding: 75px 0 122px

.section-title
  font-size: 48px
  font-weight: 700
  margin-bottom: 0

.owl-carousel
  .owl-nav
    button.owl-prev, button.owl-next
      width: 48px
      height: 48px
      cursor: pointer
      +mt(.3s)
      border-radius: 50%
      background-repeat: no-repeat
      background-position: center center
      background-size: 12px 20px
      &:hover
        background-color: $accent-green
        background-image: url('../img/icons/slide-arrow-white.png')
    button.owl-prev
      background-color: #8f96a7
      background-image: url('../img/icons/slide-arrow-white.png')
      transform: rotate(180deg)
    button.owl-next
      background-color: #fff
      background-image: url('../img/icons/slide-arrow-dark.png')

form
  input
    width: 100%
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .help-block
    display: none
  .label-checkbox
    input[type="checkbox"]
      width: 1px


.parallax-circle
  width: 120px
  height: 120px
  border-radius: 50%
  background-color: #dfe2e9


#map
  height: 490px
  background-color: $accent-grey
