@import vars


/*==========  Desktop First  ==========*/


@media (max-width: 1600px)
  .prices-content
    padding-left: 50px
    padding-right: 50px

  .prices-wrap
    width: 100%

@media (max-width: 1400px)

  .form-par
    &-4
      left: 30px
    &-5
      left: 10px

  .s-form
    padding-top: 70px
    &-img
      width: 650px
      left: 15px
      top: 0

  .team-wrap
    padding: 0 20px

  .services-slider
    width: calc(100% + 15px)

  .intro-content
    width: 50%
    left: 0

@media (max-width: 1350px)


  .price-item
    font-size: 16px

  .prices-tabs-controls
    a
      font-size: 18px

  .prices-content
    padding-top: 50px
    padding-bottom: 50px
    width: calc(100% - 500px)

  .prices-img
    width: 500px

  .head-right
    padding-left: 20px
    font-size: 14px

  .top-phones
    margin-left: 40px
    a
      font-size: 16px
      margin-bottom: 7px

// ≥1200px
+media-breakpoint-down(lg)

  .form-par
    display: none

  .team-par
    &.triangle
      width: 80px
    &.crest
      width: 60px
    &-1
      top: 250px
    &-2
      top: 350px
    &-3
      top: 300px
    &-4
      top: 300px

  .result-par
    display: none

  .footer-wrap
    padding: 40px 0 40px 50px
    flex-wrap: wrap

  .footer-right
    margin-top: 30px
    flex-direction: row
    width: 100%
    align-items: center
    .vk-link
      margin-right: 30px

  .s-form
    &-right
      padding-left: 0
    &-img
      width: 450px
      left: 0
    &-phone
      font-size: 24px
      padding-left: 30px
      &:before
        width: 16px
        height: 16px
        top: 2px
    &-address
      font-size: 16px
      margin-bottom: 30px

  .section-form
    h3
      font-size: 24px
    &-desc
      font-size: 16px
      margin-bottom: 30px
    input
      font-size: 16px
      padding: 12px 20px 10px
    label
      margin-bottom: 15px
    .btn
      font-size: 18px

  .s-docs
    h3
      margin-bottom: 30px
      font-size: 28px

  .serts-wrap
    padding-right: 40px

  .docs-wrap
    padding-left: 55px

  .docs-items-wrap
    grid-gap: 20px


  .doc-item
    font-size: 16px
    .svg
      height: 46px

  .s-about
    padding: 50px 0

  .about-left
    padding-right: 0

  .about-desc
    font-size: 16px

  .about-slide
    height: 440px

  .about-slider
    .owl-nav
      left: 20px
      bottom: 15px
      button.owl-next
        margin-left: 10px
    .owl-dots
      right: 20px
      bottom: 25px

  .s-team
    padding-bottom: 20px

  .team-wrap
    grid-column-gap: 40px
    padding: 0

  .team-item
    &-img
      height: 400px
    &-content
      padding: 20px 20px 30px
      left: -15px
    &-title
      font-size: 18px
    &-desc
      font-size: 16px


  .s-results
    padding-bottom: 150px
    padding-top: 150px
    .section-title
      font-size: 30px

  .results-img
    width: 650px

  .gar-par, .serv-par
    display: none

  .intro-crest, .intro-circle
    display: none

  .prices-img
    width: 400px

  .prices-content
    width: calc(100% - 400px)
    padding-left: 35px
    padding-right: 35px

  .prices-tabs-controls
    a
      padding-left: 18px
      padding-right: 18px
      font-size: 16px

  .price-item
    &-val
      width: 120px
    &-desc
      width: calc(100% - 130px)

  .stocks-slider
    .owl-nav
      top: -68px
      left: 150px

  .order-form
    h2
      font-size: 22px
    .form-labels-wrap
      padding: 0
    .label-checkbox
      padding: 0

  .owl-carousel
    .owl-nav
      button.owl-prev, button.owl-next
        width: 36px
        height: 36px
        background-size: 9px 16px

  .services-slider
    width: calc(100% + (100vw - 930px)/2)
    .owl-nav
      top: -65px
      left: 255px
      button.owl-next
        margin-left: 8px


  .section-title
    margin-bottom: 30px!important

  .section-title
    font-size: 36px

  section
    padding: 50px 0 70px

  .garant-item
    pointer-events: none
    padding: 40px 30px 30px
    justify-content: flex-start
    height: 270px
    &-img
      display: none
    &-icon
      height: 60px
      width: 60px
      margin-bottom: 20px
    &-title
      font-size: 18px
    &-desc
      font-size: 16px




  .intro-img
    right: -400px

  .intro-content
    width: 60%

  .intro-item
    margin-bottom: 30px
    &-img
      width: 70px
      height: 70px
    .svg
      height: 42px
    &-title
      font-size: 16px
    &-desc
      font-size: 14px

  .intro-bottom
    .btn
      font-size: 14px


  .head-left
    width: 200px
    padding: 5px
    .desc
      font-size: 13px

  .head-right
    width: calc(100% - 200px)

  .mnu-line
    display: none

  .hamburger
    display: block

  .topline
    justify-content: space-between
    .vk-link
      display: none
    .btn-green
      display: none

  .top-data
    margin-left: 30px
    width: 210px
    .address
      margin-bottom: 7px

  .top-phones
    margin-left: 50px

// ≥992px
+media-breakpoint-down(md)

  .result-par
    display: block
    &-1
      width: 150px
      height: 150px
      right: 45px
      top: -50px
    &-2
      right: -30px
      top: -40px
    &-3
      width: 75px
      height: 75px
      right: -66px
      top: -8px
    &-4
      width: 130px
      height: 130px
      left: 50px
      top: 401px
    &-5
      left: 193px
      top: 548px

  .foot-logo-container
    width: 200px
    padding-left: 5px
    padding-right: 5px
    a
      font-size: 13px
      img
        max-width: 100%
        margin-bottom: 20px

  .footer-wrap
    width: calc(100% - 200px)
    padding-top: 30px
    padding-left: 30px

  .footer-bottomright
    font-size: 12px
    text-align: right

  .s-form
    text-align: center
    &-img
      margin-left: auto
      margin-right: auto
      display: block
      margin-bottom: 50px

  .section-form
    text-align: center
    h3
      font-size: 30px
    label
      margin-bottom: 20px
    .label-checkbox
      span
        text-align: left

  .s-docs
    overflow: hidden
    padding: 0
    &:before
      display: none
    .container
      flex-direction: column

  .serts-wrap
    padding: 50px 0
    width: 100%

  .docs-wrap
    padding: 50px 0
    background-color: #8f96a7
    width: 100%
    &:before
      content: ''
      position: absolute
      width: 100vw
      height: 100%
      left: calc(0px - (100vw - 690px)/2)
      top: 0
      background-color: #8f96a7
    &>*
      position: relative

  .about-left
    margin-bottom: 50px
    padding-top: 0

  .team-wrap
    grid-template-columns: repeat(2, 1fr)

  .results-img
    position: relative
    top: 0
    left: 0
    width: 100%
    max-width: 100%
    height: auto
    margin-bottom: 50px

  .results-notice
    padding-left: 0

  .s-results
    padding-top: 50px
    padding-bottom: 80px
    text-align: center
    .section-title
      margin-bottom: 50px!important
    ul
      text-align: left
    .row
      flex-direction: column-reverse

  .prices-img
    display: none

  .prices-content
    width: 100%

  .stock-slide
    &-img
      width: 200px
      height: 200px
      margin-bottom: 30px
    &-link
      width: 180px
      height: 180px
      .svg
        height: 44px
      span
        font-size: 18px
    &-title
      font-size: 24px
    &-desc
      font-size: 14px

  .order-form
    .form-labels-wrap
      flex-direction: column
      padding: 0 100px
    label
      width: 100%
      margin-bottom: 20px
    .label-checkbox
      align-items: center
      span
        padding-top: 0

  .services-slider
    width: calc(100% + (100vw - 690px)/2)

  .garantee-wrap
    grid-template-columns: repeat(2, 1fr)

  .garant-item
    &:nth-child(3)
      border-top: none
    &:nth-child(odd)
      border-left: 1px solid #dfe2e9
    &:nth-child(even)
      border-left: none
  .intro-content
    width: 100%

  .topline
    flex-wrap: wrap

  .top-data
    width: 50%
    order: 3
    margin-left: 0
    margin-top: 15px

  .top-phones
    width: 50%
    order: 4
    margin-left: 0
    margin-top: 15px
    &:before
      display: none

  .worktime
    width: 50%

// ≥768px
+media-breakpoint-down(sm)

  .about-par
    width: 400px
    bottom: 100px

  .team-par
    display: none

  .result-par
    display: none

  #map
    height: 400px

  .main-foot
    .container
      flex-direction: column

  .footer-wrap
    width: 100%
    padding-left: 0

  .footer-topright
    margin-right: 60px

  .foot-logo-container
    display: none


  .docs-wrap
    &:before
      left: calc(0px - (100vw - 510px)/2)

  .stocks-slider
    .owl-nav
      top: -62px
      left: 120px
      button.owl-next
        margin-left: 7px

  .order-form
    .form-labels-wrap
      padding: 0

  .services-slider
    width: calc(100% + (100vw - 510px)/2)
    .owl-nav
      top: -62px
      left: 210px

  .section-title
    font-size: 28px

  .intro-bottom
    flex-direction: column
    align-items: flex-start
    padding: 0
    .btn
      margin-bottom: 30px

  .s-intro
    padding: 50px 0

  .intro-img
    right: -600px

// ≥480px
+media-breakpoint-down(xs)

  .about-par
    bottom: 300px

  .result-par
    //display: block
    &-1
      width: 90px
      height: 90px
      right: 45px
      top: 15px
    &-2
      right: 19px
      top: 14px
      width: 30px
      height: 30px
    &-3
      width: 50px
      height: 50px
      right: -10px
      top: 33px
    &-4
      width: 75px
      height: 75px
      left: 30px
      top: 164px
    &-5
      width: 50px
      height: 50px
      left: 109px
      top: 226px

  .foot-logo-container
    display: block
    width: calc(100% + 30px)
    position: relative
    left: -15px
    text-align: center
    padding-top: 30px
    padding-bottom: 30px

  .footer-left
    width: 100%
    text-align: center
    margin-bottom: 30px

  .footer-nav
    width: 100%
    text-align: center

  .footer-right
    width: 100%
    flex-direction: column

  .footer-topright
    margin-right: 0
    margin-bottom: 20px
  .footer-bottomright
    text-align: center

  .s-form
    padding-top: 50px
    padding-bottom: 50px
    &-img
      width: 100%
      max-width: 100%

  .section-form
    h3
      font-size: 24px

  .s-docs
    h3
      font-size: 24px

  .serts-slider
    padding-right: 20px
    .owl-dots
      margin-top: 20px

  .docs-wrap
    &:before
      width: calc(100% + 30px)
      left: -15px

  .about-slide
    height: 300px

  .about-slider
    .owl-dots
      bottom: 30px
      button.owl-dot
        height: 3px
        width: 20px
        &.active
          width: 50px

  .s-team
    padding-bottom: 50px

  .team-wrap
    grid-gap: 20px

  .team-item
    &-img
      height: 240px
    &-content
      top: 0
      left: 0
      padding: 15px
    &-title
      font-size: 16px
      margin-bottom: 10px
    &-desc
      font-size: 14px

  .s-results
    padding-top: 0
    padding-bottom: 50px
    .section-title
      font-size: 24px
      margin-bottom: 30px!important
    ul
      font-size: 18px
      margin-bottom: 30px
      li
        &:before
          top: -4px
    .btn-green
      font-size: 16px
      padding: 16px 20px 14px

  .results-notice
    font-size: 18px
    margin-bottom: 30px

  .results-img
    margin-bottom: 30px

  .s-prices
    .btn-wrap
      text-align: center

  .prices-content
    padding-left: 15px
    padding-right: 15px

  .prices-tabs
    margin-bottom: 35px

  .prices-tabs-controls
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 35px
    li
      flex: unset
    a
      font-size: 14px
      padding: 10px 13px 9px

  .price-item
    font-size: 14px
    padding: 18px 15px 16px
    &-val
      width: 100px
    &-desc
      width: calc(100% - 110px)

  .stocks-slider
    .owl-nav
      left: auto
      right: 15px

  .s-order
    padding-bottom: 60px

  .order-form
    .btn
      padding-left: 25px
      padding-right: 25px

  .order-desc
    font-size: 14px
    margin-bottom: 40px

  .services-slider
    width: calc(100% + 15px)
    .owl-nav
      left: auto
      right: 15px

  .section-title
    font-size: 24px

  section
    padding: 50px 0

  .s-garantee
    .section-title
      margin-bottom: 20px

  .garant-item
    padding: 30px 20px 20px
    height: 220px
    &-icon
      width: 40px
      height: 40px
      margin-bottom: 15px
    &-title
      font-size: 14px
    &-desc
      font-size: 12px

  .intro-items-wrap
    margin-bottom: 0

  .intro-bottom
    .btn
      padding: 15px 25px 13px
      text-transform: none

  .main-head
    .container
      padding-left: 0

  .intro-item
    width: 100%
    &-title
      font-size: 18px
      margin-bottom: 5px
    &-content
      padding-left: 0
    &-desc
      color: #000

  .intro-img
    right: -500px
    top: -50px
    height: calc(100% + 100px)

  .intro-vk-link
    padding-left: 0

  .worktime
    width: 100%
    order: 2
    text-align: right
    margin-top: 15px

  .hamburger
    margin-left: auto

  .top-data
    width: 100%
    text-align: right

  .top-phones
    width: 100%

@media (max-width: 400px)

  .s-form
    &-img
      margin-bottom: 30px

  .section-form
    h3
      font-size: 20px
    &-desc
      font-size: 14px
    .label-checkbox
      span
        font-size: 10px
    .btn
      font-size: 15px

  .docs-items-wrap
    grid-template-columns: repeat(1, 1fr)

  .doc-item
    font-size: 20px
    padding-bottom: 20px
    .svg
      height: 54px

  .sert-item
    margin-left: auto
    margin-right: auto
    display: block

  .serts-slider
    .owl-dots
      button.owl-dot
        width: 20px
        height: 3px
        margin: 0 3px
        &.active
          width: 40px

  .about-slide
    height: 240px

  .team-wrap
    grid-template-columns: repeat(1, 1fr)

  .team-item
    &-img
      height: 450px


  .s-results
    .btn-green
      font-size: 14px

  .order-form
    input
      font-size: 18px
    h2
      font-size: 18px
    .btn
      font-size: 14px
      padding: 20px 15px 18px

  .service-slide
    width: 280px
    &-content
      padding: 25px 20px 60px
    &-title
      font-size: 20px
    &-desc
      font-size: 14px
      line-height: 1.3
    &-plus
      width: 60px
      height: 60px
    &-btn
      bottom: -30px
    &-app
      opacity: 1
      padding-top: 29px
      padding-bottom: 24px
    &-img
      height: 160px

  .garantee-wrap
    grid-template-columns: repeat(1, 1fr)

  .garant-item
    padding: 40px
    border: 1px solid #dfe2e9!important
    border-bottom: none!important
    height: auto
    align-items: center
    text-align: center
    &:last-child
      border-bottom: 1px solid #dfe2e9!important
    &-icon
      width: 60px
      height: auto
      max-height: 60px
      margin-bottom: 25px

  .main-head
    .container
      flex-wrap: wrap
      padding: 0

  .head-left
    width: 100%
    padding: 30px 15px

  .head-right
    width: 100%
    padding: 0 15px

  .worktime
    width: 50%
    text-align: left
    order: unset
    margin-top: 0

  .top-data
    text-align: center

  .top-phones
    text-align: center

  .hamburger
    top: -5px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
